<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Registrar Estudiante</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
</head>
<body>
<div class="container col-6">
	<h3>Registro de Nuevo Estudiante</h3>
    <form th:object="${nuevoEstudiante}" th:action="@{/guardarEstudiante}" method="post">
        <div class="mb-e">
            <label class="form-label" for="fnombre">Nombre:</label>
            <input type="text" th:field="*{nombre}" class="form-control" required/><br/>
        </div>
        
        <div class="mb-e">
            <label class="form-label" for="fapellido">Apellido:</label>
            <input type="text" th:field="*{apellido}" class="form-control" required/><br/>
        </div>
        
        <div class="mb-e">
            <label class="form-label" for="fdni">DNI:</label>
            <input type="number" th:field="*{dni}" class="form-control" required/><br/>
        </div>
        
        <div class="mb-e">
            <label class="form-label" for="ftelefono">Número de Télefono:</label>
            <input type="text" th:field="*{telefono}" class="form-control" required/><br/>
        </div>
        
        <div class="mb-e">
            <label class="form-label" for="fdireccion">Dirección:</label>
            <input type="text" th:field="*{direccion}" class="form-control" required/><br/>
        </div>
        
        <div class="mb-e">
            <label class="form-label" for="fcorreo">Correo:</label>
            <input type="text" th:field="*{correo}" class="form-control" required/><br/>
        </div>
        
        <div class="mb-e">
            <label class="form-label" for="fcurso">Curso:</label>
            <select th:field="*{curso}" class="form-control" required><br/>
                <option th:value="1">Primer Año</option>
                <option th:value="2">Segundo Año</option>
                <option th:value="3">Tercer Año</option>
                <option th:value="4">Cuarto Año</option>
                <option th:value="5">Quinto Año</option>
            </select>
        </div>
        
        <div class="mb-e">
            <label class="form-label">División:</label><br/>
            <div th:each="opcion : ${listaDivisiones}" class="form-check form-check-inline" required><br/>
                <label class="form-check-label" th:for="'opcion' + ${opcion}" th:text="${opcion}"></label>
                <input class="form-check-input" type="radio" th:id="'opcion' + ${opcion}" th:name="division" th:field="*{division}" th:value="${opcion}"/>
            </div>
        </div><br/>
        <div class="mb-e">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
</div>

<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>