<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Registrar Docente</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
</head>
<body>
<div class="container col-6"> <!-- FORMULARIO -->
	<h3>Registro de Nuevo Docente</h3>
	<form th:object="${nuevoDocente}" th:action="${band}?@{/modificarDocente}:@{/guardarDocente}" method="post" enctype="multipart/form-data">
		
		<!-- verifica que el id no cambia al modificar el formulario-->
		<input type="hidden" class="form-control" th:if="${band}" th:field="*{codigo}">
		
		<div class="mb-e">
		    <label>Nombre:</label>
		    <input type="text" th:field="*{nombre}" class="form-control" required/><br/>
		</div>
		<div class="mb-e">
		    <label>Apellido:</label>
		    <input type="text" th:field="*{apellido}" class="form-control" required/><br/>
		</div>
		<div class="mb-e">
		    <label>DNI:</label>
		    <input type="number" th:field="*{dni}" class="form-control" required/><br/>
		</div>
		<div class="mb-e">
		    <label>Número de Télefono:</label>
		    <input type="tel" th:field="*{telefono}" class="form-control" required/><br/>
		</div>
		<div class="mb-e">
		    <label>Localidad:</label>
		    <input type="text" th:field="*{localidad}" class="form-control" required/><br/>
		</div>
		<div class="mb-e">
		    <label>Dirección:</label>
		    <input type="text" th:field="*{direccion}" class="form-control" required/><br/>
		</div>
		<div class="mb-e">
		    <label>Materia:</label>
		    <input type="text" th:field="*{materia}" class="form-control" required/><br/>
		</div>
				<div class="mb-e">
		    <label>Correo:</label>
		    <input type="email" th:field="*{correo}" class="form-control" required/><br/>
		</div>
		<div class="mb-e">
		    <label>Legajo:</label>
		    <input type="number" th:field="*{legajo}" class="form-control" required/><br/>
		</div>
		
		<div class="mb-e">
		    <label class="form-label" th:if="${band == false}">Foto: </label>
		    <input class="form-control" type="file" name="file" accept="image/x-png,image/gif,image/png,image/jpeg" onchange="loadFile(event)">
		    <img id="output" style="padding-top: 2px; width: 146px;">
		</div>
		
		<button class="btn btn-primary" type="submit">Registrar</button>
	</form>
</div>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>