<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Listado Estudiantes</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
	
</head>
<body>
	<div th:replace="~{layout :: header}"></div>
	<div class="container-fluid">
	  <div class="row justify-content-between mb-3">
	    <div class="col-md-auto">
	      <h3>Lista de Estudiantes</h3>
	    </div>
	    <div class="col-md-auto">
	      <a class="btn btn-sm btn-outline-success" th:href="@{/estudiante}">Registrar Nuevo</a>
	    </div>
	  </div>
	</div>
	<div class="container-fluid">
		<table class="table table-primary table-striped-columns">
		<tr>
			<th>Código</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>DNI</th>
			<th>Télefono</th>
			<th>Dirección</th>
			<th>Correo</th>
			<th>Curso</th>
			<th>División</th>
			<th>Edición</th>
		</tr>
		<tr th:each="estudiante : ${estudianteListado}">
			<td th:text="${estudiante.id_Estudiante}"></td>
			<td th:text="${estudiante.nombre}"></td>
			<td th:text="${estudiante.apellido}"></td>
			<td th:text="${estudiante.dni}"></td>
			<td th:text="${estudiante.telefono}"></td>
			<td th:text="${estudiante.direccion}"></td>
			<td th:text="${estudiante.correo}"></td>
			<td>
		      <span th:switch="${estudiante.curso}">
		        <span th:case="1">Primer Año</span>
		        <span th:case="2">Segundo Año</span>
		        <span th:case="3">Tercer Año</span>
		        <span th:case="4">Cuarto Año</span>
		        <span th:case="5">Quinto Año</span>
		      </span>
			</td>
			<td th:text="${estudiante.division}"></td>
			<td>
				<a th:href="@{|/eliminarEstudiante/${estudiante.id_Estudiante}|}" class="btn btn-danger">Borrar</a>
					
				<a th:href="@{'/modificarEstudiante/'+${estudiante.id_Estudiante}}" class="btn btn-success" >Editar</a>
			</td>
		</tr>
		</table>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>