<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Resultado de Cuestionario</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
</head>
<body>
  
<div class="container col-8">
	
	<div class="card" style="width: 18rem;" >
  <div class="card-body">
   
    <h5 class="card-title" th:text="${nuevoCuesEstudiante.estudiante.nombre + nuevoCuesEstudiante.estudiante.apellido}"></h5>
    <!-- <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${nuevoCuesEstudiante.cuestionario.titulo}"></h6> -->
    <!--  <h1 class="card-text" th:text="${nuevoCuesEstudiante.puntajeObtenido} + ' / ' + ${nuevoCuesEstudiante.cuestionario.puntajeTotal}"></h1>-->
    <a class="btn btn-primary" th:href="@{/index}" >Volver al Inicio</a>
    <a class="btn btn-primary" th:ref="@{/elegirCuestionario}">Elegir otro cuestionario</a>
  </div>
</div>

</div>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>